:root {
  --bg-color: #0b0b14;
  --fg-color: #85869a;
  --code-bg-color: #15151d;
  --code-fg-color: #b4b4b4;
  --code-title-bg-color: #1f1f2e;
  --code-title-fg-color: #d19a36;
}

html, body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

article {
  margin: 0 auto;
  max-width: min(700px, 90%);
}

h1 { font-size: 2em; line-height: initial; }
h2 { font-size: 1.5em; }
h5 { font-size: 0.9em; }

code {
  background-color: var(--code-bg-color);
  color: var(--code-fg-color);
  display: block;
  font-size: 0.8em;
  margin: 2em 0;
  padding: 2em 2em 1em 2em;
  position: relative;
  white-space: pre;
}

code .title {
  background-color: var(--code-title-bg-color);
  color: var(--code-title-fg-color);
  left: 0;
  margin: 0;
  padding: .5em 1em;
  position: absolute;
  right: 0;
  top: 0;
}

.header-link,
.header-link:active {
  color: inherit;
  font-size: 1em;
  font-weight: 100;
  opacity: 0.5;
  text-decoration: none;
}

.header-link:hover {
  opacity: 1;
}

