:root {
  --bg-color: #080811;
  --fg-color: #dededee9;
  --code-bg-color: #15151d;
  --code-fg-color: #b4b4b4;
  --code-title-bg-color: #1f1f2e;
  --code-title-fg-color: #d19a36;
  --link-fg-color: #8d62ba;
}

html, body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

article {
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
}

h1 { font-size: 2em; line-height: initial; }
h2 { font-size: 1.4em; }
h5 { font-size: 0.9em; }


.code-file {
  margin: 2em 0;
  font-family: monospace;
}
.code-file .title {
  background-color: var(--code-title-bg-color);
  color: var(--code-title-fg-color);
  margin: 0;
  display: block;
  padding: .5em 1em;
  font-family: monospace;
}

.code-file code {
  background-color: var(--code-bg-color);
  color: var(--code-fg-color);
  display: block;
  font-size: 0.8em;
  padding: 2em 2em 1em 2em;
  position: relative;
  white-space: pre-wrap;
}


a {
  color: var(--link-fg-color);
  font-style: italic;
  letter-spacing: 2px;
}

.header-link,
.header-link:active {
  font-size: 1em;
  font-weight: 100;
  opacity: 0.5;
  text-decoration: none;
  margin-right: .1em;
}

.header-link:hover {
  opacity: 1;
}

