:root {
  --bg-color: #fff;
  --fg-color: #14151f;
}

html, body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-size: 16px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

h2 {
  font-size: 1.8rem;
}
p {
  font-size: 1.1rem;
}
